.staking-page .title {
  margin-left: 0
}

.staking-form-container {
  align-items: flex-end;
}

.stake-history-loss {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-80) var(--spacing-12);
  color: var(--text-secondary-color);
}