.alert-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.alert {
    position: fixed;
    color: white;
    max-width: 80%;
    word-break: break-all;
    text-align: center;
    background-color: var(--hint-message-back-background-color);
    padding: var(--spacing-4) var(--spacing-8);
    border-radius: var(--border-radius-8);
    font-size: var(--font-size-medium);
    animation: fadeInDown 0.5s forwards/*, fadeOutUp 0.5s forwards 2.5s*/;
    z-index: 1000;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50vh);
    }
    100% {
        opacity: 1;
        transform: translateY(5vh);
    }
}

/*
@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translate(50%, 150%);
    }
    100% {
        opacity: 0;
        transform: translate(50%, -150%);
    }
}*/
