.form-input input{
   flex: 1;
   width: 100%;
}

.form-input.input-error {
    border-color: var(--error-color) !important;
    color: var(--error-color) !important;
}

.form-input.input-error span{
    color: var(--error-color) !important;
}

.form-input{
    display: flex;
    align-items: center;
    border: 2px solid var(--background-selected-color);
    padding: var(--spacing-8);
    transition: all .15s ease-in;
    /* var(--color-text-secondary); */
}

.form-input span {
    color: var(--text-secondary-color);
}

.form-input:focus-within{
    /* border: 1px solid red;; */
    border-color: var(--primary-color);
}
.form-input:focus-within span{
    color: var(--primary-color);
}
