.custom-select {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    padding: var(--spacing-8);
}

.custom-select-trigger {
    font-size: var(--font-size-base);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s;
}

.selected-option {
    white-space: pre-wrap;
}

.arrow {
    background: var(--background-color);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-medium);
    border-radius: var(--border-radius-8);
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    margin-left: 10px;
    transform: rotate(90deg);
}

.arrow.open {
    transform: rotate(270deg);
    width: 32px;
    height: 32px;
}

.custom-options-container {
    /*position: absolute;*/
    width: 100%;
    top: 100%;
    /*left: 0;*/
    /*right: 0;*/
    /*border-top: 0;*/
    display: none;
}

.custom-select.open .custom-options-container {
    display: block;
}

.custom-options {
    max-height: 100px;
    overflow-y: auto;
}

.custom-option {
    font-size: var(--font-size-base);
    padding: var(--spacing-4) 0;
    background-color: transparent;
    display: flex;
    align-items: center;
}
