.copy-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spacing-16);
}

.copy-button {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius-16);
    padding: var(--spacing-12) var(--spacing-24);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.copy-icon {
    margin-right: var(--spacing-8);
}

.copy-button span {
    color: var(--primary-color);
    font-weight: 500;
}
