

.tile-button{
    border-radius: var(--border-radius-16);
    background-color: var(--background-selected-color);
    border-color: var(--background-selected-color);
    box-shadow: none;
    border-style: solid;
    text-align: start;
}

.tile-button:hover{
    cursor: pointer;
}

.tile-button:active {
    border-color: var(--selected-color);
}