.registration-mnemonic-word:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.registration-mnemonic-word:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.registration-mnemonic-word:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

.registration-mnemonic-word:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}

.registration-mnemonic-word:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
}

.registration-mnemonic-word:nth-child(6) {
    grid-column: 1;
    grid-row: 6;
}

.registration-mnemonic-word:nth-child(7) {
    grid-column: 1;
    grid-row: 7;
}

.registration-mnemonic-word:nth-child(8) {
    grid-column: 1;
    grid-row: 8;
}

.registration-mnemonic-word:nth-child(9) {
    grid-column: 1;
    grid-row: 9;
}

.registration-mnemonic-word:nth-child(10) {
    grid-column: 1;
    grid-row: 10;
}

.registration-mnemonic-word:nth-child(11) {
    grid-column: 1;
    grid-row: 11;
}

.registration-mnemonic-word:nth-child(12) {
    grid-column: 1;
    grid-row: 12;
}

.registration-mnemonic-word:nth-child(13) {
    grid-column: 2;
    grid-row: 1;
}

.registration-mnemonic-word:nth-child(14) {
    grid-column: 2;
    grid-row: 2;
}

.registration-mnemonic-word:nth-child(15) {
    grid-column: 2;
    grid-row: 3;
}

.registration-mnemonic-word:nth-child(16) {
    grid-column: 2;
    grid-row: 4;
}

.registration-mnemonic-word:nth-child(17) {
    grid-column: 2;
    grid-row: 5;
}

.registration-mnemonic-word:nth-child(18) {
    grid-column: 2;
    grid-row: 6;
}

.registration-mnemonic-word:nth-child(19) {
    grid-column: 2;
    grid-row: 7;
}

.registration-mnemonic-word:nth-child(20) {
    grid-column: 2;
    grid-row: 8;
}

.registration-mnemonic-word:nth-child(21) {
    grid-column: 2;
    grid-row: 9;
}

.registration-mnemonic-word:nth-child(22) {
    grid-column: 2;
    grid-row: 10;
}

.registration-mnemonic-word:nth-child(23) {
    grid-column: 2;
    grid-row: 11;
}

.registration-mnemonic-word:nth-child(24) {
    grid-column: 2;
    grid-row: 12;
}