
.flex-container {
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-8);
    flex-direction: row;
    width: 100%;
}

.secret-words-column {
    flex: 1;
    margin: 0 var(--spacing-24);
    display: flex;
    flex-direction: column;
}

.secret-words-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--spacing-8);
}


.secret-words-word {
    color: var(--text-color);
}

.secret-words-column:last-child {
    margin-right: 0;
}

.title-with-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}