
.flex-container {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row;
    width: 100%;
}

.secret-words-column {
    flex: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.secret-words-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}


.secret-words-word {
    color: #232328;
}

.secret-words-column:last-child {
    margin-right: 0;
}

.title-with-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}