.title {
  margin: var(--spacing-12) 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--spacing-24);
  line-height: var(--spacing-28);

  color: var(--text-color);
}

.icon-start .tile-icon {
  align-self: flex-start;
}

.icon-start .tile-body h2 {
  margin-top: var(--spacing-4);
}

.icon-start .tile-iconaction {
  opacity: 0.4;
}
