.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader-text {
  font-size: 32px;
  transition: all 200ms ease;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.loader-button {
  width: 70%;
  margin-top: var(--spacing-32);
  padding-top: var(--spacing-24) !important;
  padding-bottom: var(--spacing-24) !important;
  font-size: var(--spacing-24);
}
