.new-category-modal__content {
    height: 50svh;
    align-items: center;
    justify-content: center;
    margin: 0 var(--spacing-16);
    text-align: center;
}

.new-category-circle-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    border-radius: var(--border-radius-full);
    background-color: #F4F5F8;
}

.new-category-title {
    font-size: var(--font-size-base);
    font-weight: var(--font-medium);
}

.new-category-description-container {
    margin: 0 var(--spacing-24);
    color: var(--text-secondary-color);
}

.new-category-select-button {
    border: none;
    background-color: var(--background-color);
}


