.history-v2__header {
  margin-top: var(--spacing-22);
  margin-bottom: var(--spacing-16);
  font-size: var(--font-size-large);
  font-weight: var(--font-medium);
}

.history-v2__container {
  background: var(--background-selected-color);
  width: 100%;
  border-radius: var(--spacing-16);
  padding: var(--spacing-4) 0px;
}

.history-v2__item {
  padding: var(--spacing-8) var(--spacing-16);
  display: flex;
  gap: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.history-v2__item:last-of-type {
  border-bottom: none;
}

.history-v2__item-image-container {
  flex-shrink: 0;
}

.history-v2__item-image {
  width: var(--thumbnail-medium-width);
  height: var(--thumbnail-medium-height);
  border-radius: var(--thumbnail-medium-height);
}

.history-v2__item-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--spacing-2);
  justify-content: center;
}

.history-v2__item-info-row {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-base);
  line-height: var(--font-size-mlarge);
}

.history-v2__normal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;

  color: #222222;
}

.history-v2__bold-text {
  font-weight: var(--font-medium);
}

.history-v2__default-text {
  color: var(--text-secondary-color);
  font-size: 14px;
}

.history-v2__expand {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  background-color: transparent;
  color: var(--primary-color);
}
