
.news-top-bar__hashtag {
    color: var(--hashtags-text-color);
    background-color: var(--hashtags-bg-color);
    /*filter: opacity(12%);*/
    border-radius: var(--border-radius-8);
    margin: var(--spacing-4);
    padding: var(--spacing-4) var(--spacing-8) var(--spacing-4) var(--spacing-8);
}

.news-top-bar-container__hashtag {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}

.news-top-bar-container__hashtag::-webkit-scrollbar {
    display: none;
}

.news-card__hashtag {
    color: var(--hashtags-text-color-active);
    background-color: var(--hashtags-bg-color-active);
    /*filter: opacity(12%);*/
    border-radius: var(--border-radius-8);
    margin: var(--spacing-4);
    padding: var(--spacing-4) var(--spacing-8) var(--spacing-4) var(--spacing-8);
}


.news-card-container__hashtag {
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacing-12) 0 var(--spacing-12) 0;
}