.balance-block{
    /* aspect-ratio: 365/205; */
    min-height: 10rem;
    background-image: url('/wallet/images/balance-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: var(--spacing-22);
    color: var(--text-secondary-color);
}

.balance-block-value{
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-bold);
    color: var(--text-color);
}

button.button.buy-button {
    width: 162px;
}
