.add-crypto__container {
  margin-bottom: 0;
}

.add-crypto__container .section__header h2 {
  font-size: 1.25rem;
  font-weight: var(--font-medium);
}

.asset-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-12);
  font-size: var(--font-size-medium);
  color: var(--text-secondary-color);
}

.asset-info.receive {
  color: var(--text-secondary-color);
}

.address-description__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: var(--spacing-8);
}

.address-description__container .section__header h2 {
  font-weight: var(--font-medium);
}

.qrcode-section {
  width: fit-content;
  max-width: 15.5rem;
  margin: 0 auto;
  text-align: center;
}

.qrcode-description {
  font-size: var(--font-size-small);
  color: var(--text-secondary-color);
  margin: var(--spacing-8);
}

.qrcode-block {
  margin-bottom: var(--spacing-12);
}

.wallet-info {
  align-items: center;
  color: var(--text-secondary-color);
}

.wallet-info .wallet {
  word-break: break-all;
  color: var(--text-color);
}

.wallet-copy-button {
  border-radius: var(--spacing-12);
  padding: var(--spacing-4);
  width: 100%;
}