.read-more__component {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-12);
}

.filter-row{
  margin-bottom: var(--spacing-12);
}

.filter-row label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-row input {
  opacity: 0;
}