:root {
  color-scheme: light dark;

  /* Основные цвета */
  --primary-color: #07ACFF;
  --secondary-color: #65656A;
  --third-colour: #e5e5e5;
  --background-color: light-dark(#ffffff, #0a0a0a );  
  /* # var(--tg-theme-bg-color)  #2c2c2c*/ 
    /* #2c2c2c); */
  --background-selected-color: light-dark(#F7F9FB, #232328);
  --selected-color: #6ACDFF;
  --text-color: light-dark(#232328, #F7F9FB);
  --hint-message-back-background-color: var(--secondary-color);

  /* Цвета для текста */
  --text-secondary-color:  light-dark(#8e8e93, #76787A);
  --text-primary-color: #F7F9FB;
  --link-color: var(--primary-color);
  --link-hover-color: var(--selected-color);

  /* Цвета для кнопок */
  --button-bg-color: var(--primary-color);
  --button-text-color: var(--background-color);
  --button-border-color: var(--primary-color);;
  --button-hover-bg-color: var(--selected-color);
  --button-hover-text-color: var(--background-color);
  --button-hover-border-color: var(--selected-color);
  --hashtags-text-color: var(--text-secondary-color);
  --hashtags-bg-color: var(--background-selected-color);
  --hashtags-text-color-active: var(--primary-color);
  --hashtags-bg-color-active: rgba(7,172,255,0.12);


  /* Цвета для форм */
  --input-bg-color: var(--background-selected-color);
  --input-text-color: var(--text-secondary-color);
  --input-border-color: var(--background-selected-color);;
  --input-focus-bg-color: var(--background-selected-color);
  --input-focus-text-color: var(--text-color);;
  --input-focus-border-color: var(--primary-color);

  /* Цвета для уведомлений */
  --success-color: #4ECC5E;
  --error-color: #CC2929;
  --warning-color: #ffc107;
  --info-color: #17a2b8;

  /* Цвета для тени и границ */
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: var(--primary-color);
  --border-color-light: light-dark(rgba(0, 0, 0, 0.05), rgba(255,255,255,0.05));
  --background-transparent-color: light-dark(rgba(0, 0, 0, 0.64), rgba(255,255,255,0.05));

  /* Отступы и поля */  
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-20: 1.25rem;
  --spacing-22: 1.375rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;

  /* Размеры шрифтов */
  --font-size-small: 13px;
  --font-size-medium: 15px;
  --font-size-base: 16px;
  --font-size-mlarge: 20px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;

  --font-regular: 400;
  --font-medium:  500;
  --font-bold: 600;

  /* Высота строки */
  --line-height-small: 1.2;
  --line-height-medium: 1.5;
  --line-height-large: 1.8;

  /* Радиусы скруглений */
  --border-radius-4: 0.25rem;
  --border-radius-8: 0.5rem;
  --border-radius-12: 0.75rem;
  --border-radius-16: 1rem;
  --border-radius-full: 50%;

  /* Прозрачность */
  --opacity-disabled: 0.6;

  /* Шрифты */
  --font-family-sans-serif: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: 'Courier New', Courier, monospace;

  /* Ширина */
  --w-full: 100%;
  --w-screen: calc(100% + 2 * var(--spacing-12));

  /* Размеры аватарок */
  --thumbnail-width: 114px;
  --thumbnail-height: 114px;
  --thumbnail-medium-width: 46px;
  --thumbnail-medium-height: 46px;

  --swiper-pagination-bullet-inactive-color: light-dark(#000000, #ffffff);

  /* Размеры ассетов */
  --asset-icon-sm: 24px;
  --asset-icon-large: 46px;
  --asset-send-bg-color: rgba(61, 176, 138, 0.12);
  --asset-receive-bg-color: rgba(248, 186, 0, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root{
    --background-color: #0a0a0a;  
    --background-selected-color: #232328;
    --text-color: #F7F9FB;
    --text-secondary-color: #76787A;
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --background-color: #ffffff;  
    --background-selected-color:#F7F9FB;
    --text-color: #232328;
    --text-secondary-color: #8e8e93;
  }
}