.list-block__block {
  padding-left: 0;
  padding-right: 0;
}

.list-block__block .list-block:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.list-block {
  width: var(--w-full);
  justify-content: space-between;
  padding-bottom: var(--spacing-12);
  padding-left: var(--spacing-12);
  padding-right: var(--spacing-12);
  margin-bottom: var(--spacing-12);
  border-bottom: 1px solid var(--border-color-light);
  box-sizing: border-box;
}

.list-block__title {
  font-size: var(--font-size-base);
  line-height: var(--line-height-medium);
  font-weight: var(--font-medium);
}

.list-block__icon {
  width: var(--thumbnail-medium-width);
  height: var(--thumbnail-medium-height);
  border-radius: var(--spacing-12);
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.list-block__icon-wrapper {
  position: relative;
}

.list-block__icon--framed {
  outline: 3px solid var(--primary-color);
  outline-offset: -3px;
}

.list-block__icon--framed-logo {
  position: absolute;
  background-color: var(--primary-color);
  bottom: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  padding: 3px;
  border-radius: var(--spacing-12);
  box-sizing: content-box;
  z-index: 2;
}

.list-block__icon--framed-logo svg {
  width: 100%;
  height: 100%;
}

.list-block__icon--framed-gradient {
  position: absolute;
  width: calc(100%);
  height: calc(100%);
  border-radius: var(--spacing-12);
  top: 0;
  background: var(--partner-animation);
  background-blend-mode: soft-light;
  background-size: 200% 200%;
  animation: gradientAnimation 8s ease infinite;
}

.list-block__description {
  color: var(--text-secondary-color);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  text-align: left;
}

.list-block__info {
  flex-grow: 1;
  align-items: start;
  gap: 0;
}

.list-block__button {
  opacity: 0.4;
}

.list-block__right {
  text-align: right;
  font-weight: var(--font-medium);
}
