.tab.active-tab {
  background-color: var(--background-color);
  color: var(--primary-color);
}
.tab {
  padding: var(--spacing-12);
  color: var(--text-secondary-color);
  font-size: var(--font-size-mlarge);
  font-weight: var(--font-medium);
}